<div class="home-callout text-center container-fluid">
  <h2>Welcome to Military Battle Club</h2>
  <h5>Our goal is to support your hobby. 
  For a few years people who want to buy and use replica guns for Airsoft or reenacting or 
  target shooting have struggled because they do not meet the legal requirements to be able to buy one.
  What we offer is for you to join us and become a member of MBC Reenactment Society and with this membership
  be able to continue or further your interest in replica guns.
  We do not offer insurance, just like any other re-enactment association or group. 
  We do not interfere with your group's day-to-day running, we do not tell you when and where you can go.
  Joining this society makes you a member of a Historical reenactment society that has 3rd Party Public Liability Insurance (PLI).</h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body ww2-image2">
        <h5 class="text-center d-inline p-2 bg-light text-dark">WW2 Fallschrimjäger can be seen throwing grenades after a river crossing.</h5>
        <br>
        <%= image_tag ("MBC1.jpg"), class: "img-fluid ww2-image" %>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body ww2-image2">
        <h5 class="text-center  d-inline p-2 bg-light text-dark">WW2 Fallschrimjäger taking up a defensive position.</h5>
        <br>
        <%= image_tag ("MBC2.jpg"), class: "img-fluid ww2-image" %>
      </div>  
    </div>
  </div>
</div>